// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much


header[role=banner] {
    background-image: url("/images/kitten.png");
    background-repeat:no-repeat;
    background-position: 90% 20%;
}


header[role=banner] {
    h1, h2 {
        font-family: 'Merienda', cursive;
    }
    h1 { font-weight: 400; }
    h2 { font-weight: 400; }

}

h1.entry-title, 
.heading, 
h1, h2, h3, h4, h5, h6  {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 600;
}

h1.entry-title {
  font-size: 1.8em !important;
  color: rgb(51,51,51);
}             

h1 {
   font-size: 1.6em;
   line-height: 1em;
}

h1, h2, h3, h4, h5, h6 {
   margin-bottom: 0.4em;
   margin-top: 0.6em;
   color: rgb(51,51,51);
}

article header {
  margin-bottom: 0.7em !important;
}  

p, article blockquote, ul, ol {
    margin-bottom: 0.7em;
}

p {
    line-height: 1.7em;
}